<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.slshop.cart.CartMapper">
	<resultMap id="cartMap" type="com.slshop.common.entity.CartItem">
		<id column="ID" property="id" />
		<result column="QUANTITY" property="quantity"/>
		<association property="customer" javaType="com.slshop.common.entity.Customer">
			<id column="CUID" property="id"/>
		</association>
		<collection property="product" ofType="com.slshop.common.entity.product.Product">
			<id column="PRID" property="id"/>
			<result column="NAME" property="name"/>
			<result column="IMAGE" property="image"/>
			<result column="PRICE" property="price"/>
		</collection>
	</resultMap>
	
	<select id="findByCustomerId" resultMap="cartMap">
		SELECT
			CA.ID,
			CA.QUANTITY,
			CU.ID AS CUID,
			PR.ID AS PRID,
			PR.NAME,
			PR.IMAGE,
			PR.PRICE
		FROM CART_ITEMS CA
		LEFT JOIN CUSTOMERS CU ON CA.CUSTOMER_ID = CU.ID
		LEFT JOIN PRODUCTS PR ON CA.PRODUCT_ID = PR.ID
		WHERE CU.ID = #{customerId}
	</select>
	
	<select id="findByProductId" resultMap="cartMap">
		SELECT
			CA.ID,
			CA.QUANTITY,
			CU.ID AS CUID,
			PR.ID AS PRID
		FROM CART_ITEMS CA
		LEFT JOIN CUSTOMERS CU ON CA.CUSTOMER_ID = CU.ID
		LEFT JOIN PRODUCTS PR ON CA.PRODUCT_ID = PR.ID
		WHERE PRODUCT_ID = #{productId}
	</select>
	
	<select id="findById" resultMap="cartMap">
		SELECT
			ID,
			QUANTITY
		FROM CART_ITEMS
		WHERE ID = #{id}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="ID">
		INSERT INTO CART_ITEMS(ID,CUSTOMER_ID,PRODUCT_ID,QUANTITY)
		VALUES (CART_ITEMS_ID_SEQ.nextval, #{customerId}, #{itemId}, #{value})
	</insert>
	
	<update id="save">
		UPDATE CART_ITEMS
		SET QUANTITY = #{value} WHERE ID = #{itemId}
	</update>
</mapper>