<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  th:replace="~{layouts/base :: layout(~{::title}, ~{}, ~{}, ~{::body/content()})}"
>
<head>
  <title>商品詳細</title>
</head>
<body>
  <!-- Contents -->
  <section class="py-3">
    <div class="container px-4 px-lg-5 my-3">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-6">
          <img class="card-img-top mb-5 mb-md-0" th:src="@{${product.imagePath}}" alt="product image" />
        </div>
        <div class="col-md-6">
          <h1 class="display-5 fw-bolder">[[${product.name}]]</h1>
          <div class="fs-5 mb-5">
            <span>&yen;[[${product.price}]]</span>
          </div>
          <p class="lead mb-5">
            [[${product.description}]]
          </p>
          <div class="d-flex input-group">
	      	<button id="minus-btn" type="button" class="btn btn-secondary">
	      		<i class="bi bi-dash"></i>
	      	</button>
	      	<input form="addItemToCart" name="itemValue" id="add-value" type="text" class="form-control text-center" readonly style="max-width: 3rem" />
	      	<button id="plus-btn" type="button" class="btn btn-secondary">
	      		<i class="bi bi-plus"></i>
	      	</button>
	      	<form id="addItemToCart" th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
		  		<button id="add-btn" class="btn btn-outline-primary flex-shrink-0 ms-4" type="submit">
		  			<i class="bi-cart-fill me-1"></i>
		  			カートに追加
		  		</button>
	      	</form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-3 bg-light">
    <div class="container px-4 px-lg-5 mt-1">
      <div class="row">
          <div class="col-12">
              <h3 class="fw-bolder mb-4">商品詳細</h3>
              <ul th:each="detail : ${product.details}" th:object="${item}">
                  <li class="py-1">
                    <span>[[${detail.name}]]</span><span class="mx-1">:</span><span>[[${detail.value}]]</span>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </section>
  <span id="message" th:text="${message}" style="display: none;"></span>
  <th:block th:replace="~{layouts/modal_fragments :: messageModal}" />
  <script>
	  let addValue = document.getElementById("add-value");
	  let minusBtn = document.getElementById("minus-btn");
	  let plusBtn = document.getElementById("plus-btn");
	  let productNum = 1;
	  addValue.setAttribute("value", productNum);

	  let addBtn = document.getElementById("add-btn");
	  
	  let modal = document.getElementById("messageModal");
	  let modalTitle = document.getElementById("modalTitle");
	  let modalBody = document.getElementById("modalBody");
	  modalTitle.textContent = "カートへ商品追加";
	  
	  let productNumChange = function(presentNum, nextNum){
		if(presentNum > 1 && presentNum < 10){
			addValue.setAttribute("value", nextNum);
			productNum = nextNum;
		}else if(presentNum == 1){
			if(nextNum == 0){
				modalBody.textContent = "最低数量は1個です。";
				modal.style.display = "block";
				modal.classList.add("show");
			}else{
				addValue.setAttribute("value", nextNum);
				productNum = nextNum;
			}
		}else if(presentNum == 10){
			if(nextNum == 11){
				modalBody.textContent = "最大数量は10個です。";
				modal.style.display = "block";
				modal.classList.add("show");
			}else{
				addValue.setAttribute("value", nextNum);
				productNum = nextNum;
			}
		}
	  }
	  minusBtn.addEventListener("click", function(){
		  productNumChange(productNum, productNum-1);
	  });
	  plusBtn.addEventListener("click",function(){
		  productNumChange(productNum, productNum+1);
	  });
	  addBtn.addEventListener("mousedown", function(){
		  addBtn.setAttribute("value", productNum);
	  });
	  
	  let message = document.getElementById("message").textContent;
	  if(message.length != 0){
		  window.onload = function(){
			  modalBody.textContent = message;
			  modal.classList.add("show");
			  modal.style.display = "block";
		  };
	  }
	  
	  let closeBtn1 = document.getElementById("btn-close-1");
	  let closeBtn2 = document.getElementById("btn-close-2");
	  closeBtn1.addEventListener("click", function(){
		modal.style.display = "none";
	  });
	  closeBtn2.addEventListener("click", function(){
		modal.style.display = "none";
	  });
  </script>
</body>
</html>
